.container{
	text-align: center;
}

/*navbar*/

.navbar{
	background: darkcyan;
}

h1{
	margin: 0;
	float: left;
}

/*pagination*/

.pager{
	font-size: 25px;
	margin: 0;
}

/*calendar*/

.grid-cell{
	margin: 1px 3px;
	height: 150px;
	width: 230px;
	border-style: solid;
	border-color: darkcyan;
	border-width: 1px;
	text-align: center;

}
.grid-cell.day{
	background: darkgrey;
}

.grid-cell.empty {
	border: none;
	background: darkgrey;
}

.grid-cell.work{
	background: white;
	
}

.grid-cell.day p#dayOfMonth{
	text-align: left;
	font-size: 30px;
	float: left;
	visibility: visible;
}

.grid-cell.day p{
	font-size: 15px;
	margin: 5px;
	visibility: hidden;
}

.grid-cell.work p{
	font-size: 15px;
	margin: 5px;
	visibility: visible;
}

.grid-cell.work a .glyphicon-pencil{
	display: block;
}

a .glyphicon-pencil{
	display: none;
}

.grid-cell.work .btn.add-day{
	visibility: hidden;
}

.btn.add-day{
	background: darkcyan;
}

div#dayName{
	height: 22px;
}

div#dayName p{
	text-align: center;
}

.glyphicon-plus{
	display: inline-block;
	font-size: 30px;
	background: darkcyan;
}
.glyphicon-pencil, .glyphicon-remove{
	display: block;
}

.grid-calendar{

	text-align: center;
	display: inline-block;
}

.calendar-week-header{

	display: inline-block;
}

.calendar-week{

	display: inline-block;
}

/*Table of list of tasks*/

table, th, td {
	border: 1px solid black;
}

th {
    height: 30px;
	background: darkcyan;
}

h2{
	text-align: center;
}

th,td{
	text-align: center;
}

th[id="taskId"]{
	width: 10%;
}

th[id="comment"]{
	width: 40%;
}

th[id="startTime"]{
	width: 10%;
}

th[id="endTime"]{
	width: 10%;
}

th[id="minPerTask"]{
	width: 15%;
}

span[id="glyphicons"] button{
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
	color: darkcyan;
}

/* modal forms: */

.modal-header, .modal-footer{
	background: darkcyan;
}

.modal-content{
	width: 150%	
}

input[name="taskId"]{
	width: 10%;
}

input[name="comment"]{
	width: 55%;
}

input[name="startTime"]{
	width: 10%;
}

input[name="endTime"]{
	width: 10%;
}

p[class="modal-title"]{
	font-size: 20px;
}

div[class="modal-body"] p{
	text-align: center;
	font-size: 20px;
}

div[class="modal-footer"] button{
	margin: 0 22%;
	font-size: 20px;
}

/*Daily statistics*/
div[id="dailyStat"]{
	margin: 0 30px;
	height: 100px;
	width: 270px;
	border-style: solid;
	border-color: darkcyan;
	border-width: 1px;
	text-align: left;
}
p[id="dailyStat"]{
	font-size: 18px;
}

/*Monthly statistics*/
div[id="monthlyStat"]{
	margin: 0 50px;
	height: 55px;
	width: 270px;
	border-style: solid;
	border-color: darkcyan;
	border-width: 1px;
	text-align: left;
}
#monthlyStat .row p{
	display: inline-table;
}

p[id="dailyStat"]{
	font-size: 15px;
}

/*new task button*/
button[id="addNewTask"]{
	color: darkcyan;
}
